@media (max-width: 1000px) {
  .cards {
    width: 700px;
  }
  .card-text {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .name {
    font-size: 14px;
  }
  .job {
    font-size: 11px;
  }

  .card img {
    height: 150px;
  }

  .details {
    padding: 10px 15px;
  }

  .job {
    margin: 5px 0 10px 0;
  }
}

@media (max-width: 750px) {
  .cards {
    width: 600px;
  }
  .container h1 {
    font-size: 18px;
  }
  .card-text {
    font-size: 11px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card img {
    height: 150px;
  }

  .name {
    font-size: 14px;
  }
  .job {
    font-size: 11px;
  }
}
